## The docker-compose.override.yml file can be used to make local changes
## to the configuration set in the base docker-compose.yml file.
## See https://docs.docker.com/compose/extends for more information.
##
## It is recommended you do *not* track docker-compose.override.yml in your
## repo. Instead, .gitignore it so that devs can make customizations.
##
version: '3'
services:
  web:
    ## Mount your own .ssh directory inside the web service. This allows you
    ## to use `drush sql-sync` within the web container, provided that the
    ## keys have been set up in the remote.
    volumes:
      - ~/.ssh:/var/www/.ssh:cached
    ## Since XDebug can be a performance drain -- particularly on non-linux --
    ## You can choose to enable by uncommenting the below:
    environment:
      PHP_MAX_EXEC_TIME: 120
      PHP_MAX_INPUT_VARS: 3000
      PHP_MEMORY_LIMIT: 320M
    ## Some versions of Docker have problems displaying the correct terminal size.
    #  COLUMNS: 80
    ## Enable XDebug (Linux):
    #  PHP_XDEBUG_ENABLED: 1
    #  PHP_XDEBUG_AUTOSTART: 1
    #  PHP_XDEBUG_PROFILE_TRIGGER: XDEBUG_PROFILE
    #  PHP_XDEBUG_REMOTE_CONNECT_BACK: 1
    ## Enable XDebug (MacOS):
    #  PHP_XDEBUG_ENABLED: 1
    #  PHP_XDEBUG_AUTOSTART: 1
    #  PHP_XDEBUG_PROFILE_TRIGGER: XDEBUG_PROFILE
    #  PHP_XDEBUG_REMOTE_HOST: docker.for.mac.localhost
## If you wish to specify the subnet that the Docker network will operate on,
## uncomment and configure below:
#networks:
#  default:
#    driver: bridge
#    ipam:
#      driver: default
#      config:
#      - subnet:  10.107.1.1/24
